 .dataentry input

{
    width: 250px;
    margin-left: 20px;
    margin-top: 15px;
}

.dataentry textarea {
    width: 250px;
    margin-left: 20px;
    margin-top: 15px;
}

.dataentry label {
    width: 75px;
    margin-left: 20px;
    margin-top: 15px;
}

#fuPicture {
    margin-top: -20px;
    margin-left: 120px;
}
